@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari */
    display: none;
  }
}

/* Input box animation effect */
.tz {
  transition-property: transform;
  transform: translateZ(0) scale(0);
  transform-origin: top right;
}

/* reselect retrieval input box */
#rsr-input-box:focus ~ .tz {
  transition-property: transform;
  transform: translateZ(0) scale(1);
  transform-origin: top left;
}

/* note start input box */
#ns-input-box:focus ~ .tz {
  transition-property: transform;
  transform: translateZ(0) scale(1);
  transform-origin: top left;
}

.note-start-color {
  filter: invert(23%) sepia(36%) saturate(3008%) hue-rotate(225deg)
    brightness(92%) contrast(92%);
}
